<!DOCTYPE html>
<html lang="en" ng-app= "app">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Garbage Games</title>

	
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet">


	<!-- inject:css -->
	<link rel="stylesheet" href="build.css">
	<!-- endinject -->
</head>
<body>

	<nav class="nav">
	  <div class="nav-left">
	    <a class="nav-item" href="#">
	      <h1 id="logo">Garbage Games</h1>
	    </a>
	  </div>

	  <div class="nav-right nav-menu">
	    <a class="nav-item" href="#">
	    	<h2 class="nav-links">Home</h2>
	    </a>
	    <!-- <a class="nav-item" ui-sref="browse">
	     	<h2 class="nav-links">Browse</h2>
	    </a> -->

	    <!--Account and Register Buttons-->
	    <a class="nav-item" ui-sref="profile">
	     	<h2 class="nav-links" ng-model="myVar">Account</h2>
	    </a>
	     <!-- <a class="nav-item" ui-sref="profile">
	     	<h2 class="nav-links">Register</h2>
	    </a> -->

	    <!--SignIn and SignOut Buttons-->
	    <div>
	    	<a class="user-status-btn button nav-link" ui-sref="signInUp" >
	        	<span class="icon">
	          	<i class="fa fa-user" aria-hidden="true"></i>
	        	</span>
	        	<span>Sign In</span>
	      	</a>
	    </div>
	    <!-- <div ng-hide="signOut">
	      	<a class="user-status-btn button nav-links" ui-sref="signInUp" ng-click="signOut = true">
	        	<span class="icon">
	          	<i class="fa fa-user" aria-hidden="true"></i>
	        	</span>
	        	<span>Sign Out</span>
	      	</a>
	    </div> -->
	  </div>
	</nav>



<main>
	<div ui-view></div>
</main>

<footer>
  <div class="container">
    <div class="content has-text-centered">
      Creators: <a class="creators" href="https://github.com/wishinghand">Jason Land</a>, <a class="creators" href="https://github.com/mkempinsky">Michele Kempinsky</a>, <a class="creators" href="https://github.com/joeysherman">Joey Sherman</a>
    </div>
  </div>
</footer>


<!-- inject:js -->
<script src="build.js"></script>
<!-- endinject -->

</body>
</html>