<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="panel" id="search-panel">
      <div class="panel-heading">
        <h2 class="panel-head">Search Games</h2>
      </div>
      <div class="panel-block">
        <p class="control">
          <input class="input" ng-model="landing.game.name" type="text" placeholder="Example: Grand Theft Auto V">
        </p>
        <img src="../img/trash.png">
          <a class="button is-meium" id="add-review-btn" ng-click="">Search</a> 
    <!-- <div id="mower-giphy">
        <iframe src="//giphy.com/embed/4whKirOb5PFBe" width="480" height="270" frameBorder="0" allowFullScreen></iframe>
    </div> -->

  </div>
</div>