html {
	background-image: url('img/mochaGrunge.png');
	background-color: rgb(160,166,122);
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
	margin-top: 50px;
	height: 70px;
	background-color: rgba(160,166,122, .5);
	box-shadow: 0px -5px 10px rgb(102, 102, 102);
	color: white;
}

.button:active, .button:focus, .button.is-active {
  border-color: black;
  outline: none;
}

#logo {
	font-family: Stalinist One;
	color: rgb(160,166,122);
	font-size: 1.5em;
}

.nav {
	box-shadow: 0px 5px 10px rgb(102, 102, 102);
}

.nav-content {
	min-height: 20px;
}

.user-status-btn {
	background-color: rgb(160,166,122);
	color: white;
    margin-top: 8px;
}

.nav-links {
	margin-right: 8px;
}

#search-panel {
	margin-top: 100px;
}

.game-cards{
	box-shadow: -5px 5px 5px rgb(64,66,48);
	margin-top: 50px;
}
.game-cards:hover{
	border: 5px solid rgb(64,66,48);
}

.game-card-title {
	font-size: 1.5em;
	color: rgb(0,115,0);
}

.browse {
	width: 90%;
	margin-left: 5%;
}
.panel-heading{
	border-radius: 0px
}
.panel {
	border-radius: 0px;
}

#review-form-content,
#game-detail-content {
	background-color: rgba(0, 0, 0, .5);
	width: 90%;
	padding: 0px 15px 20px 15px; 
	margin-top: 100px;
	margin-left: 5%;
	box-shadow: -5px 0px 5px rgb(64,66,48);
}

#game-id-card {
	margin-top: 0px;
	padding-right: 0px;
}

#game-id-card:hover {
	border: none;
}

.user-profile{
	background-color: white;
	box-shadow: -5px 5px 5px rgb(64,66,48);
}
.user-profile h1{
	background-color: rgb(160,166,122);
}

.table-title {
	font-size: 1.5em;
	background-color: rgb(160,166,122);
	color: white;
}

#add-review-btn {
	background-color: rgb(160,166,122);
	box-shadow: -5px 5px 5px rgb(64,66,48);
	color: white;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 15px;
}

.game-details li{
	color: white;
	font-size: 1em;
}

#game-detail-header {
	font-size: 2em;

}

#review-content {
	background-color: rgb(160,166,122);
	width: 90%;
	padding: 0px 15px 20px 15px; 
	margin-left: 5%;
	box-shadow: -5px 5px 5px rgb(64,66,48);

}

.creators  {
	color: white !important; 
}